<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Random User Generator</title>
    <script src="https://unpkg.com/vue@3.0.5"></script>
</head>
<body>
  <div id="app">
    <select @change="switchView($event, $event.target.selectedIndex)">
      <option v-for="(item, index) in items" :value="item.title">
        {{ item }}
      </option>
    </select>
      <img
        v-bind:src="picture"
        :alt="`${firstName} ${lastName}`"
      />
      <h1>{{firstName}} {{lastName}}</h1>
      <a :href="`${email}`">Ürüne git</a>
      <button :class="gender" @click="getUser()">Get Random User</button>
    </div>
  <script src="/app.js"></script>
</body>
</html>