<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Trendyol Rastgele Ürün</title>
    <script src="https://unpkg.com/vue@3.0.5"></script>
</head>
<body>
  <div id="app">
    <label>Kategori Seç:</label>
    <select @change="switchView($event, $event.target.selectedIndex)">
      <option v-for="(item, index) in items" :value="item.title">
        {{ item }}
      </option>
    </select>
      <img
        :src="picture"
        :alt="`${itemName}`"
        @error="setImgBlank"
      />
      <h1>{{itemName}}</h1>
      <h3>{{price}}&nbsp;₺</h3>
      <a :href="`${linkToItem}`" target="_blank" rel="noopener noreferrer">Ürüne git</a>
      <button @click="getUser()">Rastgele Ürün Bul</button>
    </div>
  <script src="/app.js"></script>
</body>
</html>