* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    text-align: center;
    background: #215999;
  }

  .select{
    width:50%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  h1,
  h3 {
    margin-bottom: 1rem;
    font-weight: normal;
  }
  
  img.product {
    height: 300px;
    width: 300px;
    object-fit: contain;
    border: 0.3px #ccc solid;
    margin-bottom: 1rem;
  }

  img.logo {
    height: 70px;

  }
  
  .btn-outline-info:hover{
    color: #fff !important;
    background-color: #215999 !important;
}
.btn-outline-info{
    color: #215999 !important;
    border-color: #215999 !important;
}

.btn-outline-dark{
  position: absolute;
  bottom: 0;
}